{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>Floor Plan</title>
</head>
<body>
{% with floor=floorval %}
{% with room=roomval %}
    <p>{{floor}} room #{{room}} <a href="javascript:history.back()">back</a></p>
{% endwith %}
{% endwith %}
<div id='container' style="height: 90vh; overflow: hidden;  margin:0; padding:0;">
    <div>
{% with file=floorimage %}
    <img src="{% static file %}" style="position: absolute;" alt="Floor Plan">
{% endwith %}
{% with x=xpos %}
{% with y=ypos %}
    <img src="{% static 'indicator.png' %}" style="position: absolute; left: {{x}}px; top: {{y}}px">
{% endwith %}
{% endwith %}
        </div>
</div>
<script type = "text/javascript"  src="{% static 'zoompan.js' %}"></script>
</body>
</html>