{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="floor/" method="post">{% csrf_token %}
    <label>Building:</label>
    <select name="buildings" id="buildings">
        <option value="OConnell Hall">OConnell Hall</option>
        <option value="St. Charles Hall">St. Charles Hall</option>
        <option value="Simperman Hall">Simperman Hall</option>
        <option value="Library">Library</option>
    </select>
    <input type="submit"/><br>
</form>
<img src="{% static '2021campusmapdec.jpg' %}" alt="Map of Carroll">
</body>
</html>