{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
</head>
<h1>Welcome</h1>
<body>
<div>
    <div id = "buildiv" style = "float: left">
        <form>{% csrf_token %}
    <label>Building Name:</label>
    <select class="dropdwn" id="building" onchange="submitMethod('building','floor')">
        <option class="dropdwn-content" disabled selected value> -- SELECT -- </option>
        {% for building in buildingitems %}
            <option class="dropdwn-content" value="{{building}}">{{building}}</option>
        {% endfor %}
    </select>
</form>
</div>

<div id = "floordiv" style="display: none; float: left;">
<form>{% csrf_token %}
    <label>Floor Name:</label>
    <select class="dropdwn" id="floor" onchange="submitMethod('floor','room')">
    </select>
</form>
</div>

<div id = "roomdiv" style="display: none; float: left;">
<form>{% csrf_token %}
    <label>Room Number:</label>
    <select class="dropdwn" id="room" onchange="displayImagePage('floor', 'room')" onfocus="this.selectedIndex = -1;">
    </select>
</form>
</div>
</div>
<div id="map" style = "height: 80%; margin-right: auto; margin-left: auto; width: 60%; position: absolute; display: block; top: 130px"></div>
<script type = "text/javascript"  src="{% static 'dynamic.js' %}"></script>
<div style="position: absolute; top: 30px">
</div>
</body>
</html>