{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type = "text/javascript"  src="{% static 'dynamic.js' %}"></script>

</head>
<body>

<div>
<form>{% csrf_token %}
    <label>Building Name:</label>
    <select id="building">
        {% for building in buildingitems %}
            <option value="{{building}}">{{building}}</option>
        {% endfor %}
    </select>
</form>
<button onclick="submitMethod('building','floor')">Next</button>
</div>

<div style="display: none">
<form>{% csrf_token %}
    <label>Floor Name:</label>
    <select id="floor" >
    </select>
</form>
<button onclick="submitMethod('floor', 'room')">Next</button>
</div>

<div style="display: none">
<form>{% csrf_token %}
    <label>Room Number:</label>
    <select id="room">
    </select>
</form>
<button onclick="displayImagePage('floor', 'room')">Submit</button>
</div>

<img src="{% static '2021campusmapdec.jpg' %}" alt="Map of Carroll">
</body>
</html>